@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-serif: "Literata Variable", serif;
  --font-sans: "Open Sans Variable", sans-serif;
  --font-display: 'Oswald Variable', sans-serif;
  --font-mono: 'Chivo Mono Variable', monospace;
}

@theme inline {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  --font-mono: var(--font-mono);
}

a:hover{
  @apply hover:text-orange-500 transition-all;
}
