---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Pedro Britto | Software Developer">
  <main class="mx-auto mt-14 w-full max-w-lg self-center p-4">
    <header class="mb-10">
      <h1 class="mb-4 text-center text-5xl font-black md:text-6xl">
        Pedro Britto
      </h1>
      <div class="text-center text-xl">Software developer, specialized on web frontend.</div>
    </header>

    <div class="grid gap-10">
      <section class="flex flex-col gap-4">
        <Card title="Blog" href="https://blog.pedrobritto.com" body="" />
        <Card title="Github" href="https://github.com/pedrobritto" />
        <Card
          title="LinkedIn"
          href="https://www.linkedin.com/in/pedro-britto/"
        />
      </section>

      <section>
        <h2 class="mb-6 text-center text-3xl font-bold tracking-tight">
          Side Projects
        </h2>

        <div class="flex flex-col gap-4">
          <Card
            title="Life in Weeks"
            body="Type in your birthdate and see your life in weeks as dots"
            href="https://lifeindots.pedrobritto.com"
          />
        </div>
      </section>
    </div>
  </main>
</Layout>
